.header__logo {
  margin: 0;
  width: 142px;
  object-fit: contain;
}

@media screen and (max-width: 918px) {
  .header__logo {
    width: calc((103.74 / 320) * 100vw);
    max-width: 142px;
    min-height: 24.4px;
  }
}
