.profile__info {
  width: 336px;
  margin: auto auto auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 986px) {
  .profile__info {
    margin: 22.75px auto 36px;
    align-items: center;
  }
}
@media screen and (max-width: 621px) {
  .profile__info {
    width: 88.125%;
  }
}
