.popup__container_auth {
  width: 358px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  opacity: 1;
}

@media screen and (max-width: 468px) {
  .popup__container_auth {
    width: calc(100% - 40px);
  }
}
