.popup__input-error {
  font-family: "Inter", ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  padding-top: 5px;
  box-sizing: border-box;
  display: none;
}
