.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 20px;
}

@media screen and (max-width: 468px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 46px;
  }
}
