.popup__button-save {
  width: 100%;
  min-height: 50px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: opacity 0.3s;
  cursor: pointer;
  padding: 0;
  margin-top: 48px;
}

.popup__button-save:hover {
  opacity: 0.8;
}

.popup__button-save:disabled {
  background: #ffffff;
  pointer-events: none;
  border: 1px solid #000000;
  color: #000000;
  opacity: 0.2;
}

@media screen and (max-width: 468px) {
  .popup__button-save {
    min-height: 46px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 15px;
  }
}
