.popup__container_form {
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 468px) {
  .popup__container_form {
    width: calc(100% - 39px);
    padding: 25px 22px;
  }
}
