.popup__input {
  font-family: "Inter", ‘Arial’, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.popup__input:focus {
  outline: none;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
